div {
    padding: 0.5rem;
    margin: 0.5rem;
    border-width: 2px;
    border-style: solid;
}

div {
    border-color: Red;
}

div div {
    border-color: Orange;
}

div div div {
    border-color: Black;
}

div div div div {
    border-color: Green;
}

div div div div div {
    border-color: Cyan;
}

div div div div div div {
    border-color: Blue;
}

div div div div div div div {
    border-color: Magenta;
}

.nice {
    background-color: aquamarine;
}

.even-nicer {
    font-size: 2em;
    padding: 1em;
}
